*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary rounded;
}

*::-webkit-scrollbar-button {
  display: none;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 80px;
}

body {
  @apply text-gray-900;
  overflow: overlay;
  overflow-x: hidden;
}

.mce-styles p {
  @apply pb-4;
}

.page-enter-active {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}
.page-enter-from {
  opacity: 0;
}
.page-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.page-leave-active {
  transition: all 0.3s ease;
}
.page-leave-from {
  opacity: 1;
}
.page-leave-to {
  opacity: 0;
}

.blured-ellipse-bg:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -30;
  filter: blur(150px);
  @apply shadow-primary bg-primary opacity-30 w-80 h-40 md:w-[420px] md:h-[230px];
}
