*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary rounded;
}

*::-webkit-scrollbar-button {
  display: none;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 80px;
}

body {
  @apply text-gray-900;
  overflow: overlay;
  overflow-x: hidden;
}

.section {
  @apply py-5 md:py-6 lg:py-8;
}

.section.high-top {
  @apply pt-10 md:pt-12 lg:pt-16;
}

.section.high-bottom {
  @apply pb-10 md:pb-12 lg:pb-16;
}

.card {
  @apply bg-white rounded-lg border border-gray-200 p-4 md:p-5;
}

.mce-styles p {
  @apply pb-4;
}

.disabled {
  @apply text-gray-400;
  cursor: not-allowed !important;
}

.page-enter-active {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}
.page-enter-from {
  opacity: 0;
}
.page-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.page-leave-active {
  transition: all 0.3s ease;
}
.page-leave-from {
  opacity: 1;
}
.page-leave-to {
  opacity: 0;
}
