@import "@bycar/theme";
@plugin "@tailwindcss/typography";

.prose {
  --tw-prose-body: var(--color-gray-500);
  --tw-prose-headings: var(--color-black);
  --tw-prose-bold: var(--color-gray-900);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bullets: var(--color-gray-400);
  --tw-prose-counters: var(--color-gray-500);
  --tw-prose-hr: var(--color-gray-200);

  max-width: 850px;

  :where(h1, h2, h3, h4, th) {
    @apply font-bold;
  }

  :where(h3) {
    @apply text-xl;
  }

  :where(p, li) {
    @apply text-base font-medium;
  }

  :where(ul, ol, li) {
    @apply my-0;
  }

  :where(ul > li)::marker {
    content: "•  ";
    font-size: 0.75em;
  }

  :where(a) {
    @apply font-semibold no-underline;
  }
}

@theme {
  --bycar-container-width: calc(1280px + 2.5rem);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: theme(--breakpoint-md)) {
    padding-inline: 1.25rem;
  }

  @media (width >= 1280px) {
    max-width: var(--bycar-container-width);
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  overflow-x: hidden;
}

.mce-styles p {
  @apply pb-4;
}

.page-enter-active {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}
.page-enter-from {
  opacity: 0;
}
.page-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.page-leave-active {
  transition: all 0.3s ease;
}
.page-leave-from {
  opacity: 1;
}
.page-leave-to {
  opacity: 0;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.responsive-video-iframe {
  @apply w-full aspect-video;
}

@source "../../**/*.{vue,ts,css}";
@source "../../../layers/**/*.{vue,ts,css}";
