@import "@bycar/theme";
@plugin "@tailwindcss/typography";

@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;

  @media (width >= 1280px) {
    max-width: calc(1280px + 2.5rem);
  }
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-500);
  @apply rounded;
}

*::-webkit-scrollbar-button {
  display: none;
}

/* html {
  overflow-x: hidden;
} */

body {
  scroll-behavior: smooth;
  letter-spacing: 0.08em;
  scroll-padding-top: 80px;
  overflow-x: hidden;
}

.mce-styles p {
  @apply pb-4;
}

.page-enter-active {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}
.page-enter-from {
  opacity: 0;
}
.page-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.page-leave-active {
  transition: all 0.3s ease;
}
.page-leave-from {
  opacity: 1;
}
.page-leave-to {
  opacity: 0;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.responsive-video-iframe {
  @apply w-full aspect-video;
}

@source "../../**/*.{vue,ts,css}";
@source "../../../layers/**/*.{vue,ts,css}";
